.home-container{
  display: flex;
}







/* sidebar  */

.sidebar-container{
  width: 20vw;
  height: 100%;
  background-color:#000000;
  border-right: 0.5px solid gainsboro;
}
.logo{
  fill: white;
}


/* content  */

.content-container{
  width: 50vw;
  /* height: 100vh; */
   height: 100%; 
  background-color: #000000;
  border-right: 0.2px solid gainsboro;
  /* position: relative; */
}
.header{
  /* width: 100%; */
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
}
.user-tweet-input{
  display: flex;
  gap:1rem;
  padding: .5rem;
}
.inputTweet{
width: 500px;
background-color: #000000;
border: none;
font-size: 1.3rem;
letter-spacing: 1px;
}
.user-tweet-input input:focus{
  outline: none;
}
.inputTweet::placeholder{
  padding: .3rem;
}
.userDp{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.tweet-btn-head{
  display: flex;
  justify-content: flex-end;
 
  /* border-top: 1px solid gainsboro; */
  border-bottom: 1px solid gainsboro;

}
.btn-tweet{
width: 90px;
height: 40px;
color: white;
border-radius: 20px;
font-size: 12px;
margin: 1rem 1rem;
font-weight: bold;
background-color: #1d9bf0;
}
.tweets-head{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;

}
.dp-name{
  display: flex;
  gap: .8rem;
  align-items: center;
  line-height: .5rem;
}
.dp-name img{
width: 50px;
height:50px;
border-radius: 50px;
}
.options button{
  
  background-color:black;
  color: white;
  border: none;
  font-size: 1.4rem;


}

.options button:focus{
  outline: none;
}
.tweet-msg p{
  font-size: .85rem;
  
}
.tweet-msg{
  margin: 0 1rem 1rem 4.5rem;
}
.show-options{
  width:100px;
  height:100px;
  background-color: #17181c;
  /* background-color: purple; */
  border-radius: 10px;
  position: absolute;
  left: 465px;
    top: 35px;
}
.show-options button{
  border: none;
  font-size: 1rem;
}
.show-options button:focus{
  outline: none;
}

/* newsfeed  */

.newsfeed-container{
  width: 30vw;
  height: 100%;
  background-color:#17181c;

}