
.home-container{
  display: flex;
  height: 100%;
}







/* sidebar  */

.sidebar-container{
  width: 20vw;
  background-color:#000000;
  border-right: 0.5px solid gainsboro;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
 
  
}
.icon-head{
  position: fixed;
}



.bell, .mail, .account, .logo ,.compose,.message{
  width: 30px;
  height: 30px;
  margin:1.2rem 1rem;
  cursor: pointer;
}

 
/* content  */



/* newsfeed  */

.newsfeed-container{
  width: 30vw;
  /* max-height: 100%; */
  background-color:#17181c;
  /* background-color: bisque; */

}