.home-container{
  display: flex;
}







/* sidebar  */

.sidebar-container{
  width: 20vw;
  height: 100%;
  background-color:#000000;
  border-right: 0.5px solid gainsboro;
}
.logo{
  fill: white;
}


/* content  */



/* newsfeed  */

.newsfeed-container{
  width: 30vw;
  height: 100%;
  background-color:#17181c;

}